@import './base.css';


h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ffffff; /* You can change the color as needed */
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #ffffff; /* You can change the color as needed */
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #4285f4; /* You can change the color as needed */
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3367d6; /* You can change the hover color as needed */
}